<html>
    <head>
        <title>Belajar Middleware</title>
    </head>
    <body>
        <% if (Array.isArray(message) && message.length > 0) { %>
            <pre><%= JSON.stringify(message, null, 2) %></pre> <!-- Debugging -->
            <% message.forEach((text) => { %>
                <p><%= text.message %></p>
            <% }); %>  <!-- Harus ada tanda titik koma di sini -->            
        <% } %>
        <form action="/proses_login" method="post">
            <label for="">Username : </label>
            <input type="text" name="username"><br>
            <label for="">Password : </label>
            <input type="text" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>